<% content_for :footer do %>
<h3>Contact Info</h3>
<p>Email: me@example.com</p>
<% end %>
<h3>Main</h3>
<p>Welcome!</p>

<h3>Home</h3>
<p>Welcome to the home of <%= @person.name %>.</p>
<p>I was born on <%= @person.birthdate %>.</p>
<p>Only <%= @person.countdown %> days until my birthday!</p>